@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
--Purple:  hsl(283, 43%, 38%);
--Cyan: hsl(186, 34%, 60%);
--Dark-purple: hsl(276, 100%, 6%);
--Medium-purple: hsl(273, 31%, 50%);
--Light-purple: hsl(287, 100%, 66%);

}

* {
    font-family: "DM Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    background-color: var(--Light-purple);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  main {
    width: 350px;
  }
  .top {
    border-radius: 1rem;
    background-color: var(--Purple);
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .saldo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .saldo p {
    font-weight: 400;
  }
  .bottom {
    background-color: white;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 1rem;
  }
  .bottom h1 {
    color: var(--Dark-purple);
  }
  #meuGrafico {
    margin: 1rem 0;
  }
  .divisor {
    background-color: var(--Light-purple);
    width: 100%;
    height: 2px;
    margin-bottom: 1rem;
  }
  .totais {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mes p {
    color: var(--Medium-purple);
  }
  .mes h2 {
    color: var(--Dark-purple);
  }
  .mes_passado p:first-child {
    font-weight: 700;
    color: var(--Dark-purple);
  }
  .mes_passado p:last-child {
    color: var(--Medium-purple);
  }

  